<!DOCTYPE html>

<!-- Basic angular sidebar app - ashutosh chaudhary <http://codepen.io/codeasashu/pen/obzyGw> -->

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <!-- CSS -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
    <link rel="stylesheet" href="/stylesheets/style_test.css">

    <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>
    <script type="text/javascript" src="/javascripts/test.js"></script>
  
  </head>

  <body ng-app="MuppetApp" layout="column" ng-controller="AppCtrl">
  <div layout="row" flex class="content-wrapper">
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
      <md-list class="muppet-list">
        <md-item ng-repeat="it in muppets">
          <md-item-content>
            <md-button ng-click="selectMuppet(it)" ng-class="{'selected' : it === selected }">
              <img ng-src="{{it.iconurl}}" class="face" alt=""> {{it.name}}
            </md-button>
          </md-item-content>
        </md-item>
      </md-list>
    </md-sidenav>
      <md-content layout="column" flex class="md-padding">
        <h2>{{selected.name}}</h2>
        <p>{{selected.content}}</p>
      </md-content>
  </div>
</body>

</html>