<html ng-app="AdminInterface">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
  <!-- CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style_test.css">

   <!-- JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
  <script type="text/javascript" src="/javascripts/test.js"></script>
  <script type="text/javascript" src="/javascripts/test2.js"></script>
</head>
<body>
  
  <div class="tab">
    <button class="tablinks" onclick="openCity(event, 'Write')">Write</button>
    <button class="tablinks" onclick="openCity(event, 'Read')">Read</button>
  </div>
  <div id="Write" class="tabcontent">

    <div ng-controller="EditPagesCtrl as Edits">

      <form name="editsForm" ng-controller="PostsCtrl as Posts" ng-submit="Posts.addPost(post)">

        <fieldset class="form-group">
          <input ng-model="Posts.post.postName" type="text" class="form-control" placeholder="Title" title="Title"></input>
        </fieldset>

        <fieldset class="form-group">
          <textarea ng-model="Posts.post.postDescription" class="form-control" placeholder="Enter the information you would like to display in your post." title="Description"></textarea>
        </fieldset>
        <fieldset class="form-group">
          <input type="submit" class="btn btn-primary center-block" value="Submit Post" />
        </fieldset>
      </form>

      </div>
    </div>
  </div>

  <div id="Read" class="tabcontent">
    
  </div>

</body>
</html>
